.App {
 margin: auto;
 width: 100%;
 display: flex;
 flex-direction: column;
}

.display{
    height: 100px;
    margin-bottom: 0px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.categories{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    width: 100%;
    margin-left: -50px;
    /* height: 300px; */
    margin-bottom: auto;
    align-content: flex-start;
    /* flex-grow: 1; */

    /* justify-content: space-around; */
}

h1{
    justify-content: center;
    align-self: flex-end;
    color:#F7C331;
}

button{
    padding: 5px;
    margin: 10px;
    width: 100px;
    height: 30px;
    background-color: #F7882F;
    border-color: transparent;
    border-radius: 1.5px;
}

button:hover{
    color:white;
}


.selected-button{
    /* padding: 5px;
    margin: 5px; */
    /* width: 100px; */
    /* height: 30px; */
    /* background-color: #F7882F; */
    /* border-color: transparent; */
    /* border-radius: 1.5px; */
    /* opacity: .9; */
    background-color: #F7C331;
    /* color: #F7C331; */
    /* margin: .1px;
    padding: .1px;
    margin-top: -.1px; */
}

/* .selected-button{
    opacity: .9;
    border-color: #F7C331;
} */

@media only screen and (min-width: 920px) {
    .categories{
        height: 250px;
    }
}

/* @media only screen and (max-width: 900px) {
    .categories{
        background-color: blue;
        margin-bottom: 30px;
    }

} */

.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.item-text{
    margin: 10px
}
