.Pricebar{
    /* height: 100px; */
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 75px;
    width: 100%;
}

h3{
    justify-content: center;
    align-self: center;
    text-align-last: justify;
    word-wrap: break-word;
    text-overflow: clip;
    color:#F7C331;
    font-size: 2.5vw;
}

/* @media only screen and (max-width: 1200px) {
    h3{
        font-size: 3.5vw;
    }
} */

.price{

    position: relative;
    z-index: 2;
    margin-top: 160px;
    margin-bottom: -150px;
    margin-right: 70px;
    margin-left: auto;
    font-size: 40px;
}

.cashierImage{
    display: flex;
    /* position: absolute;
    z-index: 1; */
        margin-top: -30px;
    margin-left: auto;
    margin-right: -30px;
    /* float: right; */
}

@media only screen and (max-width:920px) {
    .Pricebar{
        /* margin-top: 70px; */
        /* margin-bottom: -10px; */
    }
    h3{
        /* color: blue; */
        /* font-size: 4vw; */
    }
}

@media only screen and (max-width: 600px) {
    .cashierImage{
        justify-content: flex-end;
        margin-left: -20px;
        /* margin-right: auto; */

    }
    .price{
        justify-content: flex-end;
        margin-top: 170px;
        margin-right: 70px;
        margin-left: 10px;
    }
}
